{% extends './basic.html' %}
{% load static %}

{% block script_and_css %}
<link rel="stylesheet" href="{% static 'GenerateCSS\GenerateCSSProperties\StyleSheets\outline.css' %}">
<script src="{% static 'GenerateCSS\GenerateCSSProperties\Scripts\outline.js' %}"></script>
{% endblock %}

{% block title %}Outline{% endblock %}

{% block property_name %}
Outline
{% endblock %}

{% block property_css %}
<div id="properies_css_container_code_box">
    <div>
        Container
    </div>
</div>
{% endblock %}


{% block property_css_playground %}
<div id="property_css_playground">
    <div>Box Element</div>
</div>
{% endblock %}


{% block property_controles %}

<div id="properties_body_controles_container">
    <div id="properties_body_controles_child1" class="properties_body_controles_child">
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Outline Style</div>
            <div class="css_property_subproperty_value"></div><br>
            <select id="selected_unit">
                <optgroup label="Border Style">
                  <option value="outset" selected>outset</option>
                  <option value="inset">inset</option>
                  <option value="ridge">ridge</option>
                  <option value="groove">groove</option>
                  <option value="double">double</option>
                  <option value="solid">solid</option>
                  <option value="dashed">dashed</option>
                  <option value="dotted">dotted</option>
                  <option value="hidden">hidden</option>
                </optgroup>
              </select>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">width</div>
            <div class="css_property_subproperty_value"></div>
            <input type="range" class="form-range" id="customRange1" min="-0" max="50" value="1" step="0.1">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Color</div>
            <div class="css_property_subproperty_value"></div>
            <input type="color" class="form-range" id="customRange1">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Offset</div>
            <div class="css_property_subproperty_value"></div>
            <input type="range" class="form-range" id="customRange1" min="-0" max="50" value="1" step="0.1">
        </div>
    </div>
</div>
{% endblock %}