{% extends 'basic.html' %}
{% load static %}
{% load custum_tags %}

{% block title %}Generate CSS{% endblock %}
{% block script_and_css %}
<link href="{% static 'CodophileTools\Scripts\tools.css' %}" rel="stylesheet">
<script src="{% static 'CodophileTools\Scripts\tools.js' %}"></script>
{% endblock %}

{% block page_title %}<a href="/generatecss">GenerateCSS</a>{% endblock %}

{% block codophile_main_container %}
<div class="GenerateCSSHomepage_title">
    <a href='/generatecss/history'>
        <i class="fa-solid fa-clock-rotate-left fa-spin fa-spin-reverse"></i>
    </a>
</div>
<div class="GenerateCSSHomepage_body">
    {% for link in allLinks %}
    <div style="background-color: {{link.id|modulous:10}};">
        <a href="/generatecss{{link.link}}" target="_blank">
            <div>
                <img alt="/media/{{link.img}}" src="/media/{{link.img}}">
            </div>
            <div>
                <h3 style="text-align: center; position: sticky; top: 0; background-color: {{link.id|modulous:10}};">
                    {{link.title}}</h3>
                {{link.desc|safe}}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}