<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Codophile is an innovative platform designed to make CSS coding a breeze for everyone. Generate CSS codes in real-time with live screen interaction, user-friendly interface, and instant feedback."
          name="description">
    <meta content="Codophile, CSS coding, CSS generator, web development, coding tool, interactive CSS" name="keywords">
    <meta content="Your Name or Your Company Name" name="author">
    <meta content="index, follow" name="robots"> <!-- Directs search engines to index the page and follow links -->
    <meta content="no-referrer-when-downgrade" name="referrer"> <!-- Specifies no referrer information -->
    <meta content="#ffffff" name="theme-color"> <!-- Defines the theme color for Chrome, Firefox OS, etc. -->
    <link href="https://codophile.in/" rel="canonical">
    <link href="{% static 'Images/Logos/Codophilelogo.png' %}" rel="icon">
    <link href="{% static 'StyleSheets/basic.css' %}" rel="stylesheet">
    <link href="{% static 'StyleSheets\AdditionalStyleSheets\loader.css' %}" rel="stylesheet">
    <script src="{% static 'Scripts\basic.js' %}"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/9d89bb858d.js"></script>
    <script async crossorigin="anonymous"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3817537399073336"></script>
    {% block script_and_css %}{% endblock %}


    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<!-- Taskbaar and tool bar code goes here -->
<div id="codophile_main_top">
    <div id="codophile_top_toolbar_1">
        <div id="codophile_main_logo">
            {% block page_title %}<a href="/">Codophile</a>{% endblock %}
        </div>
        <div id="codophile_top_links">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
            <!-- <a href="/privacy-policy">Privacy Policy</a> -->
            <div>
                {% if user.is_authenticated %}
                <a href="/logout" id="login_button">signout</a>
                <a href="/user/{{user.username}}" id="signup_button">{{user.username}}</a>
                {% else %}
                <a href="/login" id="login_button" target="_blank">Log in</a>
                <a href="/signup" id="signup_button" target="_blank">Register</a>
                {% endif %}
            </div>
        </div>
        <div id="codophile_top_icon">
            <i class="fa-solid fa-bars" id="codophile_top_icon_bar"></i>
        </div>
    </div>

    <!-- Covers code goes here -->
    <div id="codophile_top_icon_cover">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        <!-- <a href="/privacy-policy">Privacy Policy</a> -->
        <div>
            {% if user.is_authenticated %}
            <div>
                <div>
                    <a href="/user/{{user.username}}" id="signup_button">{{user.username}} &nbsp;&nbsp;<i
                            class="fa-solid fa-greater-than"></i></a>
                </div>
                <div>
                    <a href="/logout" id="login_button">signout &nbsp;&nbsp;
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                </div>
            </div>
            {% else %}
            <div style="border-top: solid rgb(209, 209, 209);display: flex;">
                <a href="/login" id="login_button">Log in</a>
                <a href="/signup" id="signup_button">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Covers code ends here -->

    <div id="codophile_top_toolbar_2">
        <a href="/generatecss">Generate&nbsp;CSS</a>
        <a href="/tools">Tools</a>
        <a style="opacity: 0.5; user-select: none;">Comming soon ...</a>
    </div>
    <div id="codophile_top_scrollbar">
        <div id="codophile_top_scrollbar_slider"></div>
    </div>
</div>

<!-- Main Content goes here code goes here -->
<div id="codophile_main_container">
    {% block codophile_main_container %}{% endblock %}
</div>



<!-- Loader Code -->
<div id="loader_container">
    <div id="loader_container_c"></div>
    <div id="loader_container_o_1"></div>
    <div id="loader_container_d"></div>
    <div id="loader_container_o_2"></div>
    <div id="loader_container_text"></div>
</div>

<div id="codophile_footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Codophile</h3>
            <p>Codophile is your go-to platform for creative CSS generation. Explore, interact, and enhance your coding experience.</p>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/cancellation-and-refund-policy">Cancellation and Refund Policy</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: <a href="mailto:ayush2422005@gmail.com">ayush2422005@gmail.com</a></p>
            <p>Phone: <a href="tel:+918299797516">+91 829 979 7516</a></p>
            <p>Adress: NIT Campus, P.O .RIT Jamshedpur 831014, Jharkhand, India</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Codophile. All rights reserved.</p>
    </div>
</div>

</body>

</html>