<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'Images/Logos/Codophilelogo.png' %}" />
    <link rel="stylesheet" href="{% static 'StyleSheets/basic.css' %}" />
    <link rel="stylesheet" href="{% static 'StyleSheets\AdditionalStyleSheets\loader.css' %}" />
    <script src="{% static 'Scripts\basic.js' %}"></script>
    <script src="https://kit.fontawesome.com/9d89bb858d.js" crossorigin="anonymous"></script>
    <title>
      Reset Sucessfull
    </title>
  </head>

  <body>
    <!-- Taskbaar and tool bar code goes here -->
    <div id="codophile_main_top">
      <div id="codophile_top_toolbar_1">
        <div id="codophile_main_logo">
          {% block page_title %}
            <a href="/">Codophile</a>
          {% endblock %}
        </div>
        <div id="codophile_top_icon">
          <i class="fa-solid fa-bars" id="codophile_top_icon_bar"></i>
        </div>
      </div>
      <!-- Covers code ends here -->

      <div id="codophile_top_toolbar_2" style="text-align: center; color: white; justify-content: center; font-size: large;">Password reset completed</div>
      <div id="codophile_top_scrollbar">
        <div id="codophile_top_scrollbar_slider"></div>
      </div>
    </div>

    <!-- Main Content goes here code goes here -->
    <div id="codophile_main_container" style="padding: 15px; display: flex; align-items: center; justify-content: center; text-align: center; font-size: large;">
      <span>
        Your password has been set. You may go ahead and log in now.
        <br /><br />
        <a href="/login">Log In</a>
      </span>
    </div>
    <!-- Loader Code -->
    <div id="loader_container">
      <div id="loader_container_c"></div>
      <div id="loader_container_o_1"></div>
      <div id="loader_container_d"></div>
      <div id="loader_container_o_2"></div>
      <div id="loader_container_text"></div>
    </div>
  </body>
</html>
