.aboutus_container{
    /* background-color: gainsboro; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px;
}
.aboutus_container > div{
    /* background-color: red; */
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    /* background-color: rgb(236, 236, 236); */
    padding: 15px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: calc(50vh*16/9);
}
.team_members > div:first-child, .our_vision > div:first-child{
    text-align: center;
    padding: 5px;
    font-size: x-large;
    margin-bottom: 15px;
    position: relative;
    margin-bottom: 50px;
}
.team_members > div:first-child::after, .our_vision > div:first-child::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 10%;
    background-color: red;
    bottom: -10px;
    left: 45%;
    border-radius: 1000px;
}
.team_members > div:last-child, .our_vision > div:last-child {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.team_members > div:last-child > div{
    width: fit-content;
    /* background-color: green; */
}
.team_members > div:last-child > div > div:first-child{
    width: 60px;
    height: 60px;
    background-color: red;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 5px;
    border: solid 2px gray;
}
.team_members > div:last-child > div > div:last-child{
    text-align: center;
    font-size: large;
}
.team_members > div:last-child > div > div:last-child > span{
    color: gray;
    font-size: medium;
}
.our_vision > div:last-child{
    text-align: center;
}
.cover{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(2px);
}
@media only screen and (max-width: 883px) {
    /* For mobile phones: */
    .image{
        width: auto;
    }
}
@media only screen and (min-width: 883px) {
    /* For laptops: */
    .aboutus_container{
        grid-template-columns: calc(50vh*16/9) 1fr;
    }
    .our_vision{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .our_vision > div:last-child{
        padding: 0 20vw;
    }
}